@import "../../../../styles/mixins";

.history :global {
  display: flex;
  flex-direction: column;
  @include primary-font-regular;

  .mb-2 {
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
  }

  .history-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px dotted #686868;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #333;
    }

    .top-section {
      display: flex;
      justify-content: space-evenly;
      @include title-font-regular;
      font-size: 10px;
      color: #888;

      .liked {
        color: #ff0000;
      }

      .delete-btn {
        margin-bottom: 5px;
      }
    }

    .bottom-section {
      .prompt {
        @include two-line-clamp;
      }
    }
  }

  .p-paginator {
    margin-top: 10px;
    padding: 0;
  }

  .sign-in-message {
    color: #d0c61a;
    margin-top: 10px;
    background-color: #eb212166;
    padding: 10px;
    border-radius: 5px;
  }
}
