@import "../../../styles/variables";

.navbar {
  background-color: #435167;
  color: white;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  h3 {
    font-family: "Chivo Mono", monospace;
    margin: 0;
    font-weight: 100;
    font-size: 18px;
    padding: 5px 10px;
    text-shadow: 1px 1px #aaa;

    span {
      color: $red-variation;
    }
  }
}
