@import "../../../styles/variables";
@import "../../../styles/mixins";

.navbar :global {
  background-color: #435167;
  color: white;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include primary-font-regular;

  .left-side {
    display: flex;
    flex-direction: row;
    align-items: center;

    .menu {
      font-size: 0.8rem;
      list-style-type: none;
      display: flex;
      gap: 20px;

      li {
        cursor: pointer;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            padding-bottom: 3px;
            color: wheat;
            border-bottom: 1px dotted wheat;
          }

          &.selected {
            color: wheat;
          }
        }
      }
    }

    .discord-icon {
      margin-left: 50px;
      font-size: 16px;
      color: white;
      cursor: pointer;
    }

    @media (min-width: 320px) and (max-width: 480px) {
      .menu {
        display: none;
      }
    }

    .socials {
      margin-left: 25px;
      .icon {
        font-size: 18px;
        color: white;
        padding: 15px;
      }
    }
  }

  .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  h3 {
    margin: 0;
    font-weight: 100;
    font-size: 18px;
    padding: 5px 10px;
    text-shadow: 1px 1px #aaa;

    span {
      color: $red-variation;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    display: none;
  }
}
