.navbar  {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(11, 59, 135);
    color: white;
    font-size: 24px;
    padding: 5px 10px;
    height: 35px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navbar h3  {
    margin: 0;
}

.app-navbar {
    margin-left: auto;
    font-size: 14px;
    margin-top: 5px;
}