@import '../../../styles/mixins';
@import '../../../styles/variables';

.input-panel :global {

  .input-container {
    background-color: #ced8ea;
    font-family: "Chivo Mono", monospace;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    color: $dark-gray-variation;
    height: $default-height;

    p {
      margin-top: 30px;
      font-size: 14px;
      line-height: 1.4rem;
    }

    .choices {
      margin-bottom: 10px;

      span {
        padding: 0.5rem;
        padding-left: 0px; 
      }
      
      label {
        cursor: pointer;
      }
    }

    .input-area {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      p {
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 0px;
      }

      .text-area {
        width: 90%;
        height: 200px;
        border-radius: 5px;
        background: #eee;
        border: 2px solid $light-gray-variation;
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
      }
    }

    .submit {
      button {
        color: white;
        background: $blue-variation;
        border: 1px solid $blue-variation;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-radius: 2rem;

        &:hover {
          cursor: pointer;
          background: rgb(2, 96, 246);
        }
      }
    }
  }
}