@import "@/styles/mixins.scss";

.recently-liked-item :global {
  border: 1px solid #666;
  border-radius: 10px;
  padding: 10px;
  background-color: #222;
  height: 105px;
  color: #aaa;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;

  .top-section {
    display: flex;
    gap: 10px;
    align-items: center;
    @include title-font-regular;
    font-size: 11px;

    .type {
      padding: 2px 4px;
      background-color: #585858;
      border-radius: 4px;
      font-size: 10px;
    }

    .thumbnail {
      width: 18px;
      height: 18px;
      border-radius: 9px;
    }
  }

  .bottom-section {
    color: #ccc;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .model {
      background-color: #aaaa21;
      padding: 2px 4px;
      border-radius: 4px;
      font-size: 10px;
      color: #000;
    }

    .prompt {
      @include two-line-clamp;
    }
  }
}
