@import "../../../styles/variables";

.results :global {
  flex-grow: 1;

  .p-tabview {
    width: 100%;

    .p-tabview-nav-container {
      position: absolute;
      width: 100%;
      .p-tabview-nav-content {
        ul {
          li {
            margin-right: 10px;
            border: 4px solid white;

            &:hover {
              border: 4px solid rgb(166, 213, 250);
            }

            a {
              span {
                font-size: 12px;
                padding: 10px;
              }
            }
          }
        }
      }
    }

    .p-tabview-panels {
      .p-tabview-panel {
        height: $default-height;
        font-size: 12px;

        .output-frame {
          overflow: scroll;
          width: 100%;
          height: $default-height;
          background: black;
          border: none;
        }

        .display-time {
          position: absolute;
          bottom: 0;
          opacity: 0.5;
          background: white;
          width: 100%;
          color: rgb(0, 0, 0);
          padding: 10px;
        }

        .code-panel {
          overflow: scroll;
          width: 100%;
          height: $default-height;
          background: white;
          color: black;
          padding: 10px;
          padding-top: 50px;
        }
      }
    }
  }
}
