.input-container  {
    width: 30%;
    height: calc(100vh - 35px);
    background-color: #ced8ea;
    font-family: 'Chivo Mono', monospace;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    color: #495057;
}

.input-container p{
    margin-top:30px;
    font-size: 14px;
}

.choices{
    margin-bottom: 10px;
}

.choices label{
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding-bottom: 10px;
}

.choices label span{
    margin-right: 0.5rem ;
    padding-bottom: 5px;
}

.choices label span input{
    margin-left: 0px;
    cursor: pointer;
}

.input-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-area p{
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0px;
}

.text-area  {
    width: 90%;
    height: 200px;
    border-radius: 5px;
    background: #eee;
    border: 2px solid #aaa;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.submit-button  {
    color: #ffffff;
    background: #2196F3;
    border: 1px solid #2196F3;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
}

.submit-button:hover  {
    cursor: pointer;
    background: rgb(2, 96, 246);
}