@import "../styles/_mixins.scss";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;

  @keyframes circ-1 {
    0% {
      top: 40%;
      left: 25%;
    }
    50% {
      top: 65%;
      left: 75%;
    }
    100% {
      top: 40%;
      left: 25%;
    }
  }

  @keyframes circ-2 {
    0% {
      top: 65%;
      left: 75%;
    }
    50% {
      top: 55%;
      left: 40%;
    }
    100% {
      top: 65%;
      left: 75%;
    }
  }

  @keyframes circ-3 {
    0% {
      top: 65%;
      left: 40%;
    }
    50% {
      top: 35%;
      left: 60%;
    }
    100% {
      top: 65%;
      left: 40%;
    }
  }

  @keyframes circ-4 {
    0% {
      top: 35%;
      left: 60%;
    }
    50% {
      top: 60%;
      left: 25%;
      box-shadow: 0 0 80px 140px rgba(32, 73, 122, 0.3);
    }
    100% {
      top: 35%;
      left: 60%;
    }
  }

  .contents {
    flex-grow: 1;
  }

  .p-dropdown-items {
    font-size: 12px;
    padding: 0;
  }

  .p-tabview-nav {
    gap: 5px;

    a {
      @include primary-font-regular;
      font-weight: 400;
      font-size: 12px;
      padding: 10px;
    }
  }

  .p-datatable {
    .p-datatable-thead {
      th {
        padding: 5px;
      }
    }

    .p-datatable-tbody {
      tr {
        td {
          padding: 5px;
          a {
            .ellipsis {
              max-width: calc(100% - 16px);
              white-space: pre-wrap;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
