@import "../styles/variables";
@import "../styles/mixins";

.intro :global {
  height: $default-height;
  @include background;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  overflow-x: auto;
  overflow-y: auto;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contents {
    margin-top: 20px;
    width: 1200px;
    display: flex;
    gap: 20px;
    flex-direction: row;

    .left-side {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .right-side {
      min-width: 300px;
      width: 300px;
      height: 600px;
    }
  }

  h1 {
    @include title-font-regular;
    font-size: 48px;
    font-weight: normal;
    margin: 0;

    span {
      color: $red-variation;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    color: yellow;
  }

  h3 {
    @include title-font-regular;
    font-size: 14px;
    margin: 0 0 5px 0;
  }

  .explore-button {
    visibility: visible;
    padding: 10px 20px;
    @include primary-font-regular;
    font-size: 14px;
  }

  p.explain {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0;
    color: #aaa;
    width: 600px;
    text-align: center;

    &.mobile-only {
      display: none;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: 32% 31% 32%;
    column-gap: 20px;
    row-gap: 20px;
  }

  .recent-likes {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    margin-top: 50px;
    font-size: 14px;

    a {
      color: wheat;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  @media (min-width: 1420px) {
    .contents {
      width: 1400px;
    }
  }

  @media (max-width: 1200px) {
    .contents {
      width: 90%;
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
    p.explain {
      width: 90%;
      font-size: 12px;
      line-height: 1rem;

      &.mobile-only {
        display: block;
        color: yellow;
      }
    }

    .title {
      h1 {
        font-size: 24px;
      }
    }

    .explore-link {
      display: none;
    }

    .contents {
      width: 90%;

      .right-side {
        display: none;
      }

      .gallery {
        display: grid;
        grid-template-columns: auto;
      }
    }
  }

}
