@import "../styles/variables";
@import "../styles/mixins";

.intro :global {
  height: $default-height;
  @include background;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  overflow-x: auto;
  overflow-y: auto;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-family: "Poppins", cursive;
    font-size: 60px;
    font-weight: normal;
    margin: 0;

    span {
      color: $red-variation;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    color: yellow;
  }

  h3 {
    width: 1200px;
    margin: 20px 0 0 0;
  }

  .explore-button {
    visibility: visible;
    padding: 10px 20px;
    font-family: "Chivo Mono", monospace;
  }

  p.explain {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #aaa;
    width: 960px;
    text-align: center;
  }

  .gallery {
    width: 1200px;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    column-gap: 20px;
    row-gap: 20px;
  }

  .cover-pages {
    display: flex;
    justify-content: center;
    gap: 50px;

    .cover {
      width: 160px;
      height: 160px;
      border-radius: 100px;
      border: 2px dotted #ccc;
      background-size: contain;
    }

    .cover-1 {
      background-image: url(../assets/cover1.jpg);
    }

    .cover-2 {
      background-image: url(../assets/cover2-1.png);
    }

    .cover-3 {
      background-image: url(../assets/cover3.png);
    }
  }

  .footer {
    margin-top: 50px;
    font-size: 14px;

    a {
      color: wheat;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
