@import "../../styles/mixins";

.admin :global {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  @include primary-font-regular;
  overflow: scroll;  

  .header {
    display: flex;
    background: #182b2e;
    padding: 15px;
    border-radius: 5px;
    gap: 50px;
    border: 1px solid #666;

    .total-tokens {
      font-size: 16px;
      color: #e2e3e5;
      border: 1px solid #e2e3e5;
    }

    .kpi {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .title {
        font-size: 12px;
        color: #999;
      }

      .value {
        font-size: 16px;
        color: #e2e3e5;
      }
    }

    .breakdown {
      table {
        width: 100%;
        border-collapse: collapse;
        font-size: 10px;
      }

      th {
        text-align: left;
        padding: 0 10px 5px 10px;
        color: #999;
      }

      td {
        padding: 0 10px;
      }
    }
  }
  .table-container {
    .p-datatable {
      @include primary-font-regular;
      font-size: 12px;

      .p-datatable-thead > tr > th {
        background: #381e32;
      }
    }
  }
}
