@import "../../../styles/mixins";
@import "../../../styles/variables";

.input-panel :global {
  width: 100%;
  height: $default-height;

  .p-tabview {
    width: 100%;

    .p-tabview-panels {
      padding: 0;
    }
  }

  .draw-panel {
    @include primary-font-regular;
    height: calc(100vh - 70px);
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: #1c1e22;
    color: #ccc;

    .label {
      color: #aaa;
    }

    p {
      margin-top: 10px;
    }

    .p-button {
      padding: 10px 20px;
      font-size: 12px;
    }

    .p-button-label,
    .p-dropdown-item,
    .p-dropdown .p-dropdown-label {
      @include primary-font-regular;
      font-size: 12px;
      font-weight: 400;
    }

    .select-model {
      display: flex;
      align-items: center;
      gap: 10px;

      .p-dropdown {
        flex-grow: 1;
      }
    }

    .input-area {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5px;

      p {
        font-size: 14px;
        margin-top: 0;
        margin-left: 0px;
        margin-bottom: 0px;
      }

      .card {
        .model-options {
          background: #eee;

          .p-dropdown-label {
            padding: 5px;
            border-radius: 5px;
            color: #8a9197;
            font-size: 16px;
          }
        }
      }

      .text-area {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        border-radius: 5px;
        padding: 10px;
        @include primary-font-regular;
      }
    }
  }

  .history-panel {
    background-color: #1c1e22;
    height: calc(100vh - 70px);
    padding: 10px;
    overflow: scroll;
  }

  .sign-in-message {
    color: #d0c61a;
    margin-top: 10px;
    background-color: #eb212166;
    padding: 10px;
    border-radius: 5px;
  }
}
