@import "../../styles/mixins";
@import "../../styles/variables";

.splitter :global {
  .p-splitter {
    border: none;
  }
}

.loading :global {
  height: $default-height;
  @include background;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  .generating {
    color: #666;
  }

  .spinner {
    width: 150px;
    height: 75px;
    margin-bottom: 30px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 150"><path fill="none" stroke="%230EFAFF" stroke-width="10" stroke-linecap="round" stroke-dasharray="300 385" stroke-dashoffset="0" d="M275 75c0 31-27 50-50 50-58 0-92-100-150-100-28 0-50 22-50 50s23 50 50 50c58 0 92-100 150-100 24 0 50 19 50 50Z"><animate attributeName="stroke-dashoffset" calcMode="spline" dur="4" values="685;-685" keySplines="0 0 1 1" repeatCount="indefinite"></animate></path></svg>');
  }

  p {
    width: 500px;
    color: #888;
  }
}

.intro :global {
  height: $default-height;
  @include background;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  .description-box {
    width: 70%;
    margin: 200px auto;
    border: 1px solid #29447e;
    box-shadow: 0 0 5px #8ca6e0;
    background: #1c1e227a;
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 10px;
    color: #aaa;
    font-size: 14px;

    ul {
      padding: 0;
    }
    
    li {
      list-style-type: none;
    }
  }

}
