@import "../../styles/mixins";
@import "../../styles/variables";

.input-container {
  width: 30%;
  height: 100vh;
  background-color: #ced8ea;
  font-family: "Chivo Mono", monospace;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  color: $dark-gray-variation;

  p {
    margin-top: 30px;
    font-size: 14px;
  }

  .choices {
    margin-bottom: 10px;

    label {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      cursor: pointer;
      padding-bottom: 10px;
      position: relative;

      &:hover .circle {
        background: $blue-variation;
      }

      div {
        margin-left: 30px;
      }

      .circle {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
      }

      input {
        margin-left: 0px;
        cursor: pointer;
        display: none;
      }

      & input:checked + .circle:after {
        content: "";
        width: 10px;
        height: 10px;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.input-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0px;
  }

  .text-area {
    width: 90%;
    height: 200px;
    border-radius: 5px;
    background: #eee;
    border: 2px solid $light-gray-variation;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
}

.submit {
  button {
    color: white;
    background: $blue-variation;
    border: 1px solid $blue-variation;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;

    &:hover {
      cursor: pointer;
      background: rgb(2, 96, 246);
    }
  }
}
